<!DOCtype html>
<html>
<head>   
<title> Admin Sales Page|Sales  </title>
<link rel ="stylesheet" href ="../static/style.css">
</head>
<body id="recs">
                   <div class="line"><button><a href= "./index.html">Log Out </a></button></div>

    <div class="cram">
 <ul>
<li><a href="./adminview.html"> Home</a></li>
<li> <a href="./products.html">Products</a></li>
<li><a href="./assign.html">Product Categories</a></li></li>
   </ul>  </div>

         <div class="cram1"><h3>Sales Records</h3> </div>

 <table> 
<tr>
    <th><b> ATTENDANT NAME </b> </th>
    <th> <b>DATE(DD/MM/YY)</b> </th>
    <th> <b>PRODUCTS SOLD</b></th>
    <th><b> QUANTITY </b> </th>
    <th> <b>UNIT PRICE (Ugx) </b>  </th>
    <th> <b>TOTAL PRICE (Ugx)</b></th>
</tr>

<tr>
<td><b>MARY BROWN</b></td>
<td><b>01/09/2018</b></td>
<td><b>Samsung Plasma 40"</b></td> 
<td><b> 1 </b></td>
<td><b>1,000,000</b></td>
<td><b>1,000,000 </b></td>
</tr>

<tr>
<td><b> - </b></td>
<td><b>01/09/2018</b></td>
<td><b> Bread </b></td> 
<td><b> 2</b></td>
<td><b>3,900</b></td>
<td><b>7,800</b></td>
</tr>

<tr>
<td><b> - </b></td>
<td><b>01/09/2018</b></td>
<td><b>Washing Soap </b></td> 
<td><b> 5</b></td>
<td><b>2,300</b></td>
<td><b>11,500</b></td>

</tr>

<tr>
<td><b> - </b></td>
<td><b>01/09/2018</b></td>
<td><b>Men's Sneakers </b></td> 
<td><b>1</b></td>
<td><b>80,000</b></td>
<td><b>80,000 </b></td>
</tr>  

<tr>
<td><b> -</b></td>
<td><b>01/09/2018</b></td>
<td><b>Women's Jeans</b></td> 
<td><b>4</b></td>
<td><b>25,000</b></td>
<td><b>100,000 </b></td>
</tr> 

<tr>
<td><b>-</b></td>
<td><b>01/09/2018</b></td>
<td><b>Men's Shirts </b></td> 
<td><b>6 </b></td>
<td><b>20,000</b></td>
<td><b>120,000 </b></td>

  </tr> 

 <tr>
     <td><b>-</b></td>
<td><b>01/09/2018</b></td>
<td><b>Dinner Plates </b></td> 
<td><b>60 </b></td>
<td><b>3,000</b></td>
<td><b>180,000</b></td>

</tr>   

<tr>
 <td><b>TOTAL SALES (Ugx)</td>
 <td><b> - </b></td>
 <td><b> -</b></td> 
 <td><b> - </b></td>
 <td><b> - </b></td>
 <td><b>1,499,300  </b></td>
<tr>
    
</table> 

<table> 
 <tr>
     <th><b> ATTENDANT NAME </b> </th>
     <th> <b>DATE(DD/MM/YY)</b> </th>
     <th> <b>PRODUCTS SOLD</b></th>
     <th><b> QUANTITY </b> </th>
     <th> <b>UNIT PRICE (Ugx) </b>  </th>
     <th> <b>TOTAL PRICE (Ugx)</b></th>
 </tr>
 
 <tr>
 <td><b>BOB GREEN</b></td>
 <td><b>11/09/2018</b></td>
 <td><b>Plastic Cups</b></td> 
 <td><b> 34 </b></td>
 <td><b>300</b></td>
 <td><b>10,200 </b></td>
 </tr>
 
 <tr>
 <td><b> - </b></td>
 <td><b>11/09/2018</b></td>
 <td><b>Bathing Soap</b></td> 
 <td><b> 8</b></td>
 <td><b>3,000</b></td>
 <td><b>24,000</b></td>
 </tr>
 
 <tr>
 <td><b> - </b></td>
 <td><b>11/09/2018</b></td>
 <td><b>Women's Shirts </b></td> 
 <td><b> 5</b></td>
 <td><b>18,000</b></td>
 <td><b>90,000</b></td>
 
 </tr>
 
 <tr>
 <td><b> - </b></td>
 <td><b>11/09/2018</b></td>
 <td><b>Men's Sneakers </b></td> 
 <td><b>1</b></td>
 <td><b>80,000</b></td>
 <td><b>80,000 </b></td>
 </tr>  
 
 <tr>
 <td><b> -</b></td>
 <td><b>11/09/2018</b></td>
 <td><b>Kids Jeans</b></td> 
 <td><b>4</b></td>
 <td><b>15,000</b></td>
 <td><b>60,000 </b></td>
 </tr> 
 
 <tr>
 <td><b>-</b></td>
 <td><b>11/09/2018</b></td>
 <td><b>Men's Shirts </b></td> 
 <td><b>3 </b></td>
 <td><b>20,000</b></td>
 <td><b>60,000 </b></td>
 
   </tr> 
 
  <tr>
      <td><b>-</b></td>
 <td><b>11/09/2018</b></td>
 <td><b>Wooden Chairs </b></td> 
 <td><b>9 </b></td>
 <td><b>13,000</b></td>
 <td><b>117,000</b></td>
 
 </tr>   
 
 <tr>
  <td><b>TOTAL SALES (Ugx)</b></td>
  <td><b> - </b></td>
  <td><b> -</b></td> 
  <td><b> - </b></td>
  <td><b> - </b></td>
  <td><b>441,200  </b></td>
 <tr>
     
 </table>   
 <table> 
  <tr>
      <th><b> ATTENDANT NAME </b> </th>
      <th> <b>DATE(DD/MM/YY)</b> </th>
      <th> <b>PRODUCTS SOLD</b></th>
      <th><b> QUANTITY </b> </th>
      <th> <b>UNIT PRICE (Ugx) </b>  </th>
      <th> <b>TOTAL PRICE (Ugx)</b></th>
  </tr>
  
  <tr>
  <td><b>SHONA MIRA</b></td>
  <td><b>21/10/2018</b></td>
  <td><b>Kid's Sneakers</b></td> 
  <td><b> 3 </b></td>
  <td><b>13,500</b></td>
  <td><b>40,500 </b></td>
  </tr>
  
  <tr>
  <td><b> - </b></td>
  <td><b>21/10/2018</b></td>
  <td><b> Petroleum Jelly </b></td> 
  <td><b> 2</b></td>
  <td><b>3,200</b></td>
  <td><b>6,400</b></td>
  </tr>
  
  <tr>
  <td><b> - </b></td>
  <td><b>21/10/2018</b></td>
  <td><b>Washing Soap </b></td> 
  <td><b> 2</b></td>
  <td><b>2,300</b></td>
  <td><b>4,600</b></td>
  
  </tr>
  
  <tr>
  <td><b> - </b></td>
  <td><b>21/10/2018</b></td>
  <td><b>Men's Sneakers </b></td> 
  <td><b>6</b></td>
  <td><b>80,000</b></td>
  <td><b>480,000 </b></td>
  </tr>  
  
  <tr>
  <td><b> -</b></td>
  <td><b>21/09/2018</b></td>
  <td><b>Women's Jeans</b></td> 
  <td><b>7</b></td>
  <td><b>25,000</b></td>
  <td><b>175,000 </b></td>
  </tr> 
  
  <tr>
  <td><b>-</b></td>
  <td><b>21/10/2018</b></td>
  <td><b>Kid's Shirts </b></td> 
  <td><b>6 </b></td>
  <td><b>9,000</b></td>
  <td><b>54,000 </b></td>
  
    </tr> 
  
   <tr>
       <td><b>-</b></td>
  <td><b>21/10/2018</b></td>
  <td><b>Dinner Plates </b></td> 
  <td><b>20 </b></td>
  <td><b>3,000</b></td>
  <td><b>60,000</b></td>
  
  </tr>   
  
  <tr>
   <td><b>TOTAL SALES (Ugx)</b></td>
   <td><b> - </b></td>
   <td><b> -</b></td> 
   <td><b> - </b></td>
   <td><b> - </b></td>
   <td><b>815,900  </b></td>
  <tr>
      
  </table>   
  <table> 
   <tr>
       <th><b> ATTENDANT NAME </b> </th>
       <th> <b>DATE(DD/MM/YY)</b> </th>
       <th> <b>PRODUCTS SOLD</b></th>
       <th><b> QUANTITY </b> </th>
       <th> <b>UNIT PRICE (Ugx) </b>  </th>
       <th> <b>TOTAL PRICE (Ugx)</b></th>
   </tr>
   
   <tr>
   <td><b>MUSA YASIR</b></td>
   <td><b>13/10/2018</b></td>
   <td><b>Bathing Soap</b></td> 
   <td><b> 12 </b></td>
   <td><b>3,000</b></td>
   <td><b>36,000 </b></td>
   </tr>
   
   <tr>
   <td><b> - </b></td>
   <td><b>13/10/2018</b></td>
   <td><b> Bread </b></td> 
   <td><b> 4</b></td>
   <td><b>3,900</b></td>
   <td><b>15,600</b></td>
   </tr>
   
   <tr>
   <td><b> - </b></td>
   <td><b>13/10/2018</b></td>
   <td><b>Washing Soap </b></td> 
   <td><b> 6</b></td>
   <td><b>2,300</b></td>
   <td><b>13,800</b></td>
   
   </tr>
   
   <tr>
   <td><b> - </b></td>
   <td><b>13/10/2018</b></td>
   <td><b>Women's Sneakers </b></td> 
   <td><b>6</b></td>
   <td><b>100,000</b></td>
   <td><b>600,000 </b></td>
   </tr>  
   
   <tr>
   <td><b> -</b></td>
   <td><b>13/10/2018</b></td>
   <td><b>Glasses</b></td> 
   <td><b>13</b></td>
   <td><b>7,000</b></td>
   <td><b>91,000 </b></td>
   </tr> 
   
   <tr>
   <td><b>-</b></td>
   <td><b>13/10/2018</b></td>
   <td><b>Scented Candles </b></td> 
   <td><b>3</b></td>
   <td><b>8,500</b></td>
   <td><b>25,500 </b></td>
   
     </tr> 
   
    <tr>
        <td><b>-</b></td>
   <td><b>13/10/2018</b></td>
   <td><b>Dinner Plates </b></td> 
   <td><b>31 </b></td>
   <td><b>3,000</b></td>
   <td><b>93,000</b></td>
   
   </tr>   
   
   <tr>
    <td><b>TOTAL SALES (Ugx)</b></td>
    <td><b> - </b></td>
    <td><b> -</b></td> 
    <td><b> - </b></td>
    <td><b> - </b></td>
    <td><b>874,900  </b></td>
   <tr>
       
   </table>   
  

<footer>
     <div class="copy2">
     <b>StoreManager,Copyright@joan &copy;2018 </b></div>

    <footer>

    </body>

    </html>
