<!DOCtype html>
<html>
<head>   
<title> Admin View|View </title>
<link rel ="stylesheet" href ="../static/style.css">
</head>
<body id ="access">

  <div class = "flash"><a href="./adminrights.html">Log Out</a></div>

 <div class ="access1"><h1>Store Manager</h1></div>

 <div class="flash2">Click Here:</div>   
                 
<div class="flash3"> 
             
         
         <a href="./adminview.html">
            Home</a> <br/>
        
          <a href="./profile.html">
            Administrator Profile </a><br/>

          <a href="./profile.html">
            Register Store Attendant</a><br/>

           <a href="./profile.html">
              Store Attendant Profile </a><br/>
        
         <a href="./products.html">
            Products </a><br/>
                      
          <a href="./assign.html">
              Product Categories </a><br/>
          
          <a href="adminsales.html">
              Sales </a><br/>
              
     
</div>
<footer>
  <div class="kol">  
  <b>StoreManager,Copyright@joan &copy;2018 </b></div>
 </footer>
  
</body>

</html>