<!DOCtype html>
<html>
<head>   
<title> Admin View|View </title>
<link rel ="stylesheet" href ="../static/style.css">
</head>
<body id ="access">

  <div class = "flash"><a href="./adminrights.html">Log Out</a></div>

 <div class ="access1"><h1>Store Manager</h1></div>

 <div class="flash2">Click Here:</div>   
                 
<div class="flash3"> 
             
         
         <div class="real"><a href="./adminview.html">
            Home</a> <br/></div>
        
         <div class="real2"> <a href="./profile.html">
            Administrator Profile </a><br/></div>

          <div class="real3"><a href="./profile.html">
            Register Store Attendant</a><br/></div>

           <div class="real4"><a href="./profile.html">
              Store Attendant Profile </a><br/></div>
        
              <div class="real5"><a href="./products.html">
            Products </a><br/></div>
                      
            <div class="real6"><a href="./assign.html">
              Product Categories </a><br/></div>
          
              <div class="real7"><a href="adminsales.html">
              Sales </a><br/></div>
              
     
</div>
<footer>
  <div class="cap">  
  <b>StoreManager,Copyright@joan &copy;2018 </b></div>
 </footer>
  
</body>

</html>
