<!DOCtype html>
<html>
<head>   
<title> Attendant Login|Attendant </title>
<link rel ="stylesheet" href ="../static/style.css">
</head>
<body id ="bin">
 <div class ="ball"><h1>Store Attendant</h1></div>

<div class="bin2">
    
     
     Username <br/> 
     <input type ="text" name="Username"><br/>
        
     Password <br/> 
    <input type="text" name ="Username"><br/>

     <button type="Login"><a href="./attendview.html"><b>Login</b></a></button>
    
    </div>
    
                  
  
  <footer>
   <div class="kol2">    
    <b>StoreManager,Copyright@joan &copy;2018 </b></div>
  
  </footer>
  
</body>

</html>
