<!DOCtype html>
<html>
<head>   
<title> Attendant Sales|Sales  </title>
<link rel ="stylesheet" href ="../static/style.css">
</head>
<body id="recs1">
                   <div class="line"><button><a href= "./adminrights.html">Log Out </a></button></div>

    <div class="cram3">
 <ul>
<li><a href="./attendview.html"> Home</a></li>
<li> <a href="./products.html">Products</a></li>
<li> <a href="./assign.html">Product Categories</a></li>
<li> <a href="./cart.html">Buyer's Cart</a></li>

   </ul>  </div>

      <div class="cram1"><h3>Sales Records</h3></div>

     <table> 
      <tr>
          <th><b> ATTENDANT NAME </b> </th>
          <th> <b>DATE(DD/MM/YY)</b> </th>
          <th> <b>PRODUCTS SOLD</b></th>
          <th><b> QUANTITY </b> </th>
          <th> <b>UNIT PRICE (Ugx) </b>  </th>
          <th> <b>TOTAL PRICE (Ugx)</b></th>
      </tr>
      
      <tr>
      <td><b>BOB GREEN</b></td>
      <td><b>11/09/2018</b></td>
      <td><b>Plastic Cups</b></td> 
      <td><b> 34 </b></td>
      <td><b>300</b></td>
      <td><b>10,200 </b></td>
      </tr>
      
      <tr>
      <td><b> - </b></td>
      <td><b>11/09/2018</b></td>
      <td><b>Bathing Soap</b></td> 
      <td><b> 8</b></td>
      <td><b>3,000</b></td>
      <td><b>24,000</b></td>
      </tr>
      
      <tr>
      <td><b> - </b></td>
      <td><b>11/09/2018</b></td>
      <td><b>Women's Shirts </b></td> 
      <td><b> 5</b></td>
      <td><b>18,000</b></td>
      <td><b>90,000</b></td>
      
      </tr>
      
      <tr>
      <td><b> - </b></td>
      <td><b>11/09/2018</b></td>
      <td><b>Men's Sneakers </b></td> 
      <td><b>1</b></td>
      <td><b>80,000</b></td>
      <td><b>80,000 </b></td>
      </tr>  
      
      <tr>
      <td><b> -</b></td>
      <td><b>11/09/2018</b></td>
      <td><b>Kids Jeans</b></td> 
      <td><b>4</b></td>
      <td><b>15,000</b></td>
      <td><b>60,000 </b></td>
      </tr> 
      
      <tr>
      <td><b>-</b></td>
      <td><b>11/09/2018</b></td>
      <td><b>Men's Shirts </b></td> 
      <td><b>3 </b></td>
      <td><b>20,000</b></td>
      <td><b>60,000 </b></td>
      
        </tr> 
      
       <tr>
           <td><b>-</b></td>
      <td><b>11/09/2018</b></td>
      <td><b>Wooden Chairs </b></td> 
      <td><b>9 </b></td>
      <td><b>13,000</b></td>
      <td><b>117,000</b></td>
      
      </tr>   
      
      <tr>
       <td><b>TOTAL SALES (Ugx)</b></td>
       <td><b> - </b></td>
       <td><b> -</b></td> 
       <td><b> - </b></td>
       <td><b> - </b></td>
       <td><b>441,200  </b></td>
      <tr>
          
      </table>                


<footer>
     <div class="copy2">
     <b>StoreManager,Copyright@joan &copy;2018 </b></div>

    <footer>

    </body>

    </html>