<!DOCtype html>
<html>
<head>   
<title> Attendant View|View </title>
<link rel ="stylesheet" href ="../static/style.css">
</head>
<body id ="access">

  <div class = "flash"><a href="./adminrights.html">Log Out</a></div>

 <div class ="access1"><h1>Store Attendant</h1></div>

 <div class="flash2">Click Here:</div>   
                 
<div class="flash3"> 
                      
      <div class ="cell">   <a href="./attendview.html">
            Home</a> <br/></div>
                
            <div class ="cell2"><a href="./profile.html">
                 Your Profile </a><br/></div>
       
                 <div class ="cell3">  <a href="./products.html">
                 Products </a><br/></div>

                 <div class ="cell4">   <a href="./cart.html">
            Buyer's Cart </a><br/></div>
                      
            <div class ="cell5">     <a href="./assign.html">
              Product Categories </a><br/></div>
          
              <div class ="cell6">  <a href="attendantsales.html">
              Sales </a><br/></div>
              
     
</div>
<footer>
  <div class="kol">  
  <b>StoreManager,Copyright@joan &copy;2018 </b></div>
 </footer>
  
</body>

</html>
