<!DOCtype html>
<html>
<head>   
<title> Sales Page|Sales </title>
<link rel ="stylesheet" href ="../static/style.css">
</head>
<body id="click" >

           <div class="click2"><h3>Shopping Cart</h3></div>  
                     
           <div class="click3"><button><a href= "./attendview.html">Log Out </a></button></div>                                            

 <div class="put">Store Attendant Name:_____________________</div>      
 
 <div class="put2"> Date:________________________ </div>

<table>
  
  <tr>
    <th><b> PRODUCT NAME </b> </th>
    <th> <b>QUANTITY</b> </th>
    <th> <b>UNIT PRICE(Ugx)</b></th>
    <th><b> AMOUNT </b> </th>
    <th> <b>BUYER'S CART </b>  </th>
       
  </tr>

<tr>
<td><b>Samsung Plasma 40"</b></td>
<td><b> 1 </b></td> 
<td><b>1,000,000</b></td>
<td><b>1,000,000</b></td>
<td><button><b>Add </b></button></td>
<td><button><b>Delete </b></button></td>
</tr>
<td><b>Washing Soap</b></td>
<td><b> 3 </b></td> 
<td><b>2,300</b></td>
<td><b>6,900</b></td>
<td><button><b>Add </b></button></td>
<td><button><b>Delete </b></button></td>
</tr>
<td><b>Bread</b></td>
<td><b> 5 </b></td> 
<td><b>3,900</b></td>
<td><b>19,500</b></td>
<td><button><b>Add </b></button></td>
<td><button><b>Delete </b></button></td>
</tr>
<td><b>Women's Shirt</b></td>
<td><b> 6 </b></td> 
<td><b>21,000</b></td>
<td><b>126,000</b></td>
<td><button><b>Add </b></button></td>
<td><button><b>Delete </b></button></td>
</tr>
<td><b>Book</b></td>
<td><b> 1 </b></td> 
<td><b>18,000</b></td>
<td><b>18,000</b></td>
<td><button><b>Add </b></button></td>
<td><button><b>Delete </b></button></td>
</tr>
<td><b>Plate</b></td>
<td><b> 20 </b></td> 
<td><b>3,000</b></td>
<td><b>60,000</b></td>
<td><button><b>Add </b></button></td>
<td><button><b>Delete </b></button></td>
</tr>
<td><b>Men's Sneakers</b></td>
<td><b> 1 </b></td> 
<td><b>100,000</b></td>
<td><b>100,000</b></td>
<td><button><b>Add </b></button></td>
<td><button><b>Delete </b></button></td>
</tr>
<td><b>TOTAL</b></td>
<td><b> - </b></td> 
<td><b> - </b></td>
<td><b>1,330,400</b></td>
<td><b> -</b></td>
<td><b> - </b></td>
 
</tr>

</table>





  <footer>
    <div class="copy2">
    <b>StoreManager,Copyright@joan &copy;2018 </b></div>

   <footer>

   </body>

   </html>

