<!DOCtype html>
<html>
<head>   
<title> Rights Login|Rights </title>
<link rel ="stylesheet" href ="../static/style.css">
</head>
<body id ="tune">
 <div class ="tune1"><h1>Store Manager</h1></div>

<div class="key">
    
     <div class = "key2">
     Administrator Login <br/> 
     <button type="Login"><a href = "./login.html"><b>Login</b></button></a>
     </div>

    <div class= "key3">
    Store Attendant Login <br/> 
    <button type="Login"><a href="./attendlogin.html"><b>Login</b></a></button>
    </div>
    </div>
    
                  
  
  <footer>
   <div class="kol">    
    <b>StoreManager,Copyright@joan &copy;2018 </b></div>
  
  </footer>
  
</body>

</html>