<!DOCtype html>
<html>
<head>   
<title> Login Page|Login  </title>
<link rel ="stylesheet" href ="../static/style.css">
</head>
<body id ="store">
 <div class= "tin"><h1>Store Manager</h1></div>

         

 <form>
    
   <div class = "pile"><b>Login Here</b><br/></div>

   <div class="pile2">
  Username <br/> 
 <input type ="text" name="Username"><br/>
  Password <br/> 
 <input type ="text" name="Password"><br/>
   <button type="Login"><b>Login</b></button>
                  </div>
  
</form>

<footer>
 <div class="copy">    
  <b>StoreManager,Copyright@joan &copy;2018 </b></div>

</footer>

</body>


</html>