<!DOCtype html>
<html>
<head>   
<title> Attendant Profile|Profile  </title>
<link rel ="stylesheet" href ="../static/style.css">
</head>
<body id ="tap">
            <div class="pen">
              <a href="./index.html"><b>Home</b></a></div>           <div class="pen2"><a href="./index.html"> <button>Log Out</button></a> </div> 
                            
    
     <div class="pen3"> <h2> Employee Profile</h2></div>

   <div class="photo">
     <img src="../static/images/icon.png" style="width:200px;height:200px">
     <br/>Profile Photo</div>

   
    <div class="look"> 
                        <label>Name</label>
                       <textarea rows="2" cols="40"></textarea>
        
                        <label>Gender</label>
                        <textarea rows="2" cols="20"></textarea>

                        <label>Email</label>
                        <textarea rows="2" cols="40"></textarea> 
        
                        <label>Mobile</label>
                        <textarea rows="2" cols="40"></textarea>
        
                        <label>Address</label>
                        <textarea rows="6" cols="40"></textarea>
                </div>

                <div class="look2">

                        <label>Department</label>
                        <textarea rows="2" cols="30"></textarea> 
        
                        <label>Privacy Settings</label>
                        <textarea rows="6" cols="30"></textarea>
        
                        <label>Sales Record</label>
                        <textarea rows="6" cols="30"></textarea> 
        
                        <label>Products Sold</label>
                        <textarea rows="6" cols="30"></textarea>
        
                        <label>Worth of Goods Sold</label>
                        <textarea rows="6" cols="30"></textarea> <br/>
               </div>

<div class="see">
  <button><a href="./profile.html"> <b>Edit Profile</b></a> </button> 
  <button> <a href="./index.html"><b>Save Profile</b></a> </button><br/></div>
 


<footer>
  <div class ="tout">

     <b>StoreManager,Copyright@joan &copy;2018 </b></div>

    <footer>

    </body>

    </html>

